import turtle
import os
scrn = turtle.Screen()
scrn.title("Pong by @Sreejitha")
scrn.bgcolor("black")
scrn.setup(width=900,height=780)
scrn.tracer(0)

#score
score_a = 0
score_b = 0

#paddle A
paddle_a = turtle.Turtle()
paddle_a.speed(0)
paddle_a.shape("square")
paddle_a.color("white")
paddle_a.shapesize(stretch_wid=5,stretch_len=1)
paddle_a.penup()
paddle_a.goto(-380,0)

#padle b
paddle_b = turtle.Turtle()
paddle_b.speed(0)
paddle_b.shape("square")
paddle_b.color("white")
paddle_b.shapesize(stretch_wid=5,stretch_len=1)
paddle_b.penup()
paddle_b.goto(370,0)


#a up function
def a_up():
    y = paddle_a.ycor()
    y += 30
    paddle_a.sety(y)

#a down
def a_down():
    y = paddle_a.ycor()
    y -= 30
    paddle_a.sety(y)

#b up function
def b_up():
    y = paddle_b.ycor()
    y += 30
    paddle_b.sety(y)
#b down function
def b_down():
    y = paddle_b.ycor()
    y -= 20
    paddle_b.sety(y)

#ball
ball = turtle.Turtle()
ball.speed(0)
ball.shape("square")
ball.color("white")
ball.penup()
ball.goto(0,0)
ball.dx = 3
ball.dy = 3

#pen
pen = turtle.Turtle()
pen.speed(0)
pen.color("white")
pen.penup()
pen.hideturtle()
pen.goto(0,320)
pen.write("Player A: 0  Player B:  0",align="center",font=("Courier",24,"normal"))
#keybpard binding
scrn.listen()
scrn.onkeypress(a_up,"w")
scrn.onkeypress(a_down,"s")
scrn.onkeypress(b_up,"Up")
scrn.onkeypress(b_down,"Down")




#main loop
while True:
    scrn.update()

    #ball moment
    ball.setx(ball.xcor() + ball.dx)
    ball.sety(ball.ycor() + ball.dy)

    #top border bounce
    if ball.ycor() > 380:
        ball.sety(380)
        ball.dy *= -1
        os.system("afplay bounce-8111.mp3&")

    #bottom border bounce
    if ball.ycor() < -380:
        ball.sety(-380)
        ball.dy *= -1
        os.system("afplay bounce-8111.mp3&")
    #right border bounce
    if ball.xcor() > 440:
        ball.goto(0,0)
        ball.dx *= -1
        score_a += 1
        os.system("afplay whoosh-6316.mp3&")
        pen.clear()
        pen.write("Player A: {}  Player B:  {}".format(score_a,score_b),align="center",font=("Courier",24,"normal"))
    #left border bounce
    if ball.xcor() < -440:
        ball.goto(0,0)
        ball.dx *= -1
        score_b += 1
        os.system("afplay whoosh-6316.mp3&")
        pen.clear()
        pen.write("Player A: {}  Player B:  {}".format(score_a,score_b),align="center",font=("Courier",24,"normal"))
    #paddle b bounces
    if (ball.xcor() > 360 and ball.xcor()< 370)and (ball.ycor() < paddle_b.ycor() + 40 and ball.ycor()>paddle_b.ycor()-40):
        ball.setx(360)
        ball.dx *= -1
        os.system("afplay bounce-8111.mp3&")
    #paddle a bounce
    if (ball.xcor() > -370 and ball.xcor()< -360)and (ball.ycor() < paddle_a.ycor() + 40 and ball.ycor()>paddle_a.ycor()-40):
        ball.setx(-360)
        ball.dx *= -1
        os.system("afplay bounce-8111.mp3&")
